

<div class="comment-container m-4 column is-one-fifth" >

        <p class="is-size-4">{{content}}</p>
        <p class="is-size-5">{{user.username}}</p>
        <p class="is-size-6">{{format_date created_at}}</p>

</div>