<div class="card post">
    <div class="card-content">
        <p class="title">
            {{title}}
        </p>
         <p class="subtitle">
            {{user.username}}
            Created at {{format_date created_at}}
        </p>
        <a href="/posts/{{id}}">View</a>
    </div>      
</div>
