<div class="post">
    <div class="post-title">
        <h2 id={{post.id}}>{{post.title}}</h2>
    </div>
    <div class="post-content">{{post.content}}</div>
    <div class="post-author">{{user.username}}</div>
</div>

<div class="comments">
    <h3>Comments</h3>
    {{#each post.comments as |comment|}}
    {{> comments comment }}
    
    {{/each}}
</div>

{{#if loggedIn}}
<form class="comment-form" id="add-comment" >
    <div>
        <textarea id="comment-body"></textarea>
    </div>
    <div>
        <button  class="button" type="submit">Add Comment</button>
    </div>
</form>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}